@import 'normalize.css/normalize.css';
@import 'basscss/css/basscss.min.css';
@import './variables.css';
@import './fontello/css/fontello-embedded.css';
@import './fontello/css/animation.css';

* {
  color: #333;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  padding-bottom: 3rem;
}

.color1 { color: var(--color1) }
.color1-l { color: var(--color1-l) }
.color1-d { color: var(--color1-d) }
.color-inherit { color: inherit }  /* used in: header */
.white { color: #fff }
.silver { color: #aaa }
.red { color: #FF4136 }
.bg-color1 { background-color: var(--color1) }
.bg-white { background-color: #fff }
.bg-currentColor { background-color: currentColor }
.bg-transparent { background-color: #fff0 }

.border-color1 { border-color: var(--color1) }
.border-red { border-color: #FF4136 }
.border-silver { border-color: #aaa }

.pre { white-space: pre }

.pointer { cursor: pointer }
.outline-none { outline: none }
.appearance-none { appearance: none }

.border-color1 { border-color: var(--color1) }
.border-transparent { border-color: #fff0 }
.border-currentColor { border-color: currentColor }

.break-word {
  overflow-wrap: break-word;
  word-break: break-all;
}

.decoration-none { text-decoration: none }


input[type=submit]:disabled {
  opacity: 0.5;
  cursor: not-allowed;

}